In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("../dataset/data_cleaned.csv")

In [14]:
df["start_date"] = df["start_date"].str[5:7].astype(int)

In [15]:
df

,Unnamed: 0,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code_x,start_date_time,end_date_time,max_temperature_f,mean_temperature_f,min_temperature_f
0,0,139546,432,1,San Francisco City Hall,58,2014-01-01,Townsend at 7th,65,395,Subscriber,94107,00:14:00,00:21:00,56.0,49.0,41.0
1,1,139547,1523,1,Embarcadero at Sansome,60,2014-01-01,Beale at Market,56,331,Subscriber,94112,00:17:00,00:42:00,56.0,49.0,41.0
2,2,139551,779,1,Steuart at Market,74,2014-01-01,Washington at Kearney,46,335,Customer,94109,00:24:00,00:37:00,56.0,49.0,41.0
3,3,139553,721,1,Steuart at Market,74,2014-01-01,Washington at Kearney,46,563,Customer,94109,00:25:00,00:37:00,56.0,49.0,41.0
4,4,139558,1600,1,Harry Bridges Plaza (Ferry Building),50,2014-01-01,Steuart at Market,74,413,Subscriber,94102,00:28:00,00:54:00,56.0,49.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149065,149065,432964,169,9,Embarcadero at Bryant,54,2014-09-01,Embarcadero at Folsom,51,496,Subscriber,94105,07:32:00,07:35:00,83.0,70.0,57.0
149066,149066,432959,441,9,Market at 10th,67,2014-09-01,Market at Sansome,77,617,Subscriber,94132,06:58:00,07:05:00,83.0,70.0,57.0
149067,149067,432957,398,9,Yerba Buena Center of the Arts (3rd @ Howard),68,2014-09-01,Steuart at Market,74,561,Subscriber,94112,05:54:00,06:00:00,83.0,70.0,57.0
149068,149068,432952,240,9,South Van Ness at Market,66,2014-09-01,Civic Center BART (7th at Market),72,292,Subscriber,94102,04:59:00,05:03:00,83.0,70.0,57.0
149069,149069,432951,619,9,Powell Street BART,39,2014-09-01,Townsend at 7th,65,335,Subscriber,94118,04:21:00,04:32:00,83.0,70.0,57.0

In [37]:
ser = df.groupby(["subscription_type", "start_date"])["id"].count()
ser

subscription_type  start_date
Customer           1               484
                   2               378
                   3               571
                   4               589
                   5               673
                   6               561
                   7               665
                   8               668
                   9               486
                   10              521
                   11              414
                   12              298
Subscriber         1             12001
                   2              9114
                   3             11174
                   4             12014
                   5             12181
                   6             12157
                   7             12609
                   8             12510
                   9             13376
                   10            14861
                   11            11549
                   12             9216
Name: id, dtype: int64

In [33]:
res_dict = {"Customer":[], "Subscriber": []}
for i in res_dict:
    temp = ser[i]
    for j in temp:
        res_dict[i].append(j)
res = pd.DataFrame(res_dict)

KeyError: 'Customer'

In [30]:
res.index = range(1, 13)
res

    Customer  Subscriber
1        484       12001
2        378        9114
3        571       11174
4        589       12014
5        673       12181
6        561       12157
7        665       12609
8        668       12510
9        486       13376
10       521       14861
11       414       11549
12       298        9216

In [31]:
res.to_csv("../dataset/data_cleaned_vis4.csv")