## This is only a sample EDA
### Appropriately change the final cleaned dataset to fit your implementation

In [227]:
import numpy as np
import pandas as pd
import os
import sys

In [228]:
trip = pd.read_csv('dataset/trip.csv')
weather = pd.read_csv('dataset/weather.csv')

In [229]:
station =  pd.read_csv('dataset/station.csv')

In [230]:
trip.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [231]:
def extract_year(data, col):
    # Extract the data in 2014
    date = pd.to_datetime(data[col])
    data[col] = date
    return data[(date < pd.to_datetime("20150101")) & (date >= pd.to_datetime("20140101"))].reset_index(drop = True)

In [232]:
trip = extract_year(trip, "end_date")
trip = extract_year(trip, "start_date")
weather = extract_year(weather, "date")

In [233]:
with open("dataset/all_sf_zip.txt", "r") as file:
    lines = file.readlines()[0].strip(".")
    all_zip = lines.split(", ")

In [234]:
# Extract San Francisco Data
trip = trip[trip["zip_code"].apply(lambda x: x in all_zip)]
weather = weather[weather["zip_code"] == 94107]
station = station[station["city"] == "San Francisco"]

In [235]:
# Extract Only Useful Columns
weather = weather[['date', 'max_temperature_f','mean_temperature_f','min_temperature_f','zip_code']]

In [236]:
def split_time_info(df, *cols):
    data = df.copy()
    for i in cols:
        date = data[i]
        data[i] = pd.to_datetime(date.dt.date)
        data[i + "_time"] = date.dt.time
    return data

In [237]:
split_time_trip = split_time_info(trip, "start_date", "end_date")

In [271]:
merged_trip = pd.merge(split_time_trip, weather, left_on="start_date", right_on = "date").drop(columns=['date', "zip_code_y"]).reset_index(drop=True)

In [273]:
merged_trip.to_csv('dataset/data_cleaned.csv')

In [12]:
result.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,...,start_date_only,station_id,lat,long,dock_count,city,installation_date,max_temperature_f,mean_temperature_f,min_temperature_f
0,52279,571,10/10/2013 0:08,South Van Ness at Market,66,10/10/2013 0:18,Market at Sansome,77,588,Subscriber,...,10/10/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013,70.0,62.0,53.0
1,52279,571,10/10/2013 0:08,South Van Ness at Market,66,10/10/2013 0:18,Market at Sansome,77,588,Subscriber,...,10/10/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013,68.0,59.0,50.0
2,52279,571,10/10/2013 0:08,South Van Ness at Market,66,10/10/2013 0:18,Market at Sansome,77,588,Subscriber,...,10/10/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013,71.0,61.0,51.0
3,52279,571,10/10/2013 0:08,South Van Ness at Market,66,10/10/2013 0:18,Market at Sansome,77,588,Subscriber,...,10/10/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013,72.0,58.0,48.0
4,52279,571,10/10/2013 0:08,South Van Ness at Market,66,10/10/2013 0:18,Market at Sansome,77,588,Subscriber,...,10/10/2013,66,37.774814,-122.418954,19,San Francisco,8/23/2013,74.0,62.0,50.0

In [13]:
#pd.read_csv('data.csv', index_col=[0]).head()